In [9]:
import numpy as np
import pandas as pd

In [10]:
data=pd.read_csv(r'D:\ICT Python\Data Set\Sales_add.csv')

In [6]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [11]:
from scipy.stats import ttest_ind

In [12]:
t_stat,p_value = ttest_ind(data['Sales_before_digital_add(in $)'], data['Sales_After_digital_add(in $)'])

In [13]:
p_value

2.614368006904645e-16

In [14]:
if p_value<0.05:
    print ('Reject null hypothesis')
else:
    print ('Accept null hypothesis')

Reject null hypothesis

In [15]:
from scipy.stats import chisquare

In [19]:
chi_stat, p_val = chisquare(f_obs = data['Region'], f_exp = data['Manager'])

ValueError: could not convert string to float: 'Region - A'

In [3]:
chisquare(f_obs = data['Sales_before_digital_add(in $)'],f_obs = data['Sales_After_digital_add(in $)'] )

SyntaxError: keyword argument repeated: f_obs (1297854629.py, line 1)